* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: roboto, arial;
}

body .header {
  height: 100vh;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), color-stop(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(gallery/womenbg011.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(gallery/womenbg011.jpg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 140%;
  background-attachment: fixed;
}

@media only screen and (max-width: 1250px) {
  body .header {
    background-size: cover;
  }
}

@media only screen and (max-width: 840px) {
  body .header {
    background-color: #181818;
  }
}

body .header .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  height: 100%;
  margin: 0;
}

@media only screen and (max-width: 840px) {
  body .header .grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    width: 100%;
    height: 100%;
  }
}

body .header .grid .leftgrid {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  margin: auto;
}

body .header .grid .leftgrid .logo {
  position: absolute;
  top: 5%;
  margin-left: 3%;
}

body .header .grid .leftgrid .logo a {
  text-decoration: none;
  font-size: 1.2em;
  color: white;
  font-weight: 400;
}

body .header .grid .leftgrid .titlesection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-left: 5%;
}

@media only screen and (max-width: 840px) {
  body .header .grid .leftgrid .titlesection {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

body .header .grid .leftgrid .titlesection h1 {
  font-size: 4em;
  padding-bottom: 0.6em;
  word-spacing: -8px;
  line-height: 1em;
}

@media only screen and (max-width: 414px) {
  body .header .grid .leftgrid .titlesection h1 {
    font-size: 3em;
  }
}

body .header .grid .leftgrid .titlesection p {
  font-size: 1.2em;
  margin-bottom: 2em;
}

@media only screen and (max-width: 414px) {
  body .header .grid .leftgrid .titlesection p {
    font-size: 1em;
  }
}

body .header .grid .leftgrid .titlesection .btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.2em;
  font-weight: 500;
}

@media only screen and (max-width: 414px) {
  body .header .grid .leftgrid .titlesection .btn {
    font-size: 1em;
  }
}

body .header .grid .leftgrid .titlesection .btn:hover {
  color: #cccccc;
  background-color: #000;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

body .header .grid .menu {
  display: none;
}

body .header .grid .menu:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

@media only screen and (max-width: 840px) {
  body .header .grid .menu {
    display: block;
    position: absolute;
    top: 5%;
    right: 5%;
  }
}

body .header .grid .menu .fa-bars {
  color: #cccccc;
  font-size: 2.3em;
}

body .header .grid .rightgrid {
  display: -ms-grid;
  display: grid;
  height: 100%;
  margin: 0;
}

@media only screen and (max-width: 840px) {
  body .header .grid .rightgrid {
    display: none;
  }
}

body .header .grid .rightgrid .content {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100%;
  margin: 0;
  -webkit-box-shadow: 0 0 5px rgba(37, 37, 37, 0.9);
          box-shadow: 0 0 5px rgba(37, 37, 37, 0.9);
}

body .header .grid .rightgrid .content .col01 {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 5% 20% auto auto auto;
      grid-template-rows: 5% 20% auto auto auto;
  width: 100%;
  height: 100%;
  margin: 0;
}

body .header .grid .rightgrid .content .col01 .toprow {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(37, 37, 37, 0.9);
}

body .header .grid .rightgrid .content .col01 .toprow .prog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto auto auto 10%;
}

body .header .grid .rightgrid .content .col01 .toprow .prog a {
  color: #cccccc;
  font-size: 1.2em;
}

body .header .grid .rightgrid .content .col01 .toprow .searchicon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 10% auto auto;
}

body .header .grid .rightgrid .content .col01 .toprow .searchicon i {
  color: #cccccc;
  font-size: 1.2em;
}

body .header .grid .rightgrid .content .col01 .toprow2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(37, 37, 37, 0.6);
  width: 100%;
}

body .header .grid .rightgrid .content .col01 .toprow2 .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto 10% auto 10%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

body .header .grid .rightgrid .content .col01 .toprow2 .author .space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .grid .rightgrid .content .col01 .toprow2 .author .space p {
  color: #cccccc;
}

@media only screen and (max-width: 1450px) {
  body .header .grid .rightgrid .content .col01 .toprow2 .author .space p {
    font-size: 0.9em;
  }
}

@media only screen and (max-width: 1450px) {
  body .header .grid .rightgrid .content .col01 .toprow2 .author .space p:last-child {
    display: none;
  }
}

body .header .grid .rightgrid .content .col01 .toprow2 .author h2 {
  color: #cccccc;
  font-size: 3em;
  font-weight: 500;
  letter-spacing: 1px;
}

@media only screen and (max-width: 1600px) {
  body .header .grid .rightgrid .content .col01 .toprow2 .author h2 {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 1450px) {
  body .header .grid .rightgrid .content .col01 .toprow2 .author h2 {
    font-size: 2em;
  }
}

body .header .grid .rightgrid .content .col01 .daybg {
  background-color: rgba(37, 37, 37, 0.9);
}

body .header .grid .rightgrid .content .col01 .daybg .day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80%;
  margin: 3% auto;
  border-bottom: 1px solid rgba(63, 63, 63, 0.9);
}

body .header .grid .rightgrid .content .col01 .daybg .day .justifyrow {
  margin: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .grid .rightgrid .content .col01 .daybg .day .justifyrow .exercises {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .header .grid .rightgrid .content .col01 .daybg .day .justifyrow .how {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .header .grid .rightgrid .content .col01 .daybg #lastday {
  border: none;
}

body .header .grid .rightgrid .content .col01 .daybg p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.8em;
  line-height: 10px;
}

body .header .grid .rightgrid .content .col01 .daybg p:last-child {
  padding-bottom: 10%;
}

body .header .grid .rightgrid .content .col01 .daybg h2 {
  color: white;
  font-size: 1.8em;
  margin-bottom: 5%;
}

@media only screen and (max-width: 1300px) {
  body .header .grid .rightgrid .content .col01 .daybg h2 {
    font-size: 1.6em;
  }
}

@media only screen and (max-width: 1030px) {
  body .header .grid .rightgrid .content .col01 .daybg h2 {
    font-size: 1.4em;
  }
}

@media only screen and (max-width: 870px) {
  body .header .grid .rightgrid .content .col01 .daybg h2 {
    font-size: 1.2em;
  }
}

body .header .openmenubg {
  display: -ms-grid;
  display: grid;
  height: 100%;
  width: 100vw;
  margin: 0;
  overflow-y: scroll;
}

body .header .openmenubg .openmenusize {
  width: 100%;
  height: 100%;
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 10% 15% 25% 25% 25%;
      grid-template-rows: 10% 15% 25% 25% 25%;
  background-color: #181818;
  color: rgba(255, 255, 255, 0.8);
}

body .header .openmenubg .openmenusize .firstrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .openmenubg .openmenusize .firstrow .programs a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 500;
}

body .header .openmenubg .openmenusize .firstrow .search {
  cursor: pointer;
}

body .header .openmenubg .openmenusize .firstrow .search i {
  font-size: 1.5em;
  color: white;
}

body .header .openmenubg .openmenusize .secondrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 0 auto;
  padding: 0;
  border-bottom: 1px solid #3d3d3d;
}

body .header .openmenubg .openmenusize .secondrow:nth-child(2), body .header .openmenubg .openmenusize .secondrow:nth-child(5) {
  border: none;
}

@media only screen and (max-width: 414px) {
  body .header .openmenubg .openmenusize .secondrow h2 {
    font-size: 1.8em;
  }
}

body .header .openmenubg .openmenusize .secondrow .auth .spacebetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  body .header .openmenubg .openmenusize .secondrow .auth .spacebetween #ericahide {
    display: none;
  }
}

body .header .openmenubg .openmenusize .secondrow .auth h2 {
  font-size: 2.8em;
}

@media only screen and (max-width: 414px) {
  body .header .openmenubg .openmenusize .secondrow .auth h2 {
    font-size: 2em;
  }
}

body .header .openmenubg .openmenusize .secondrow .justifyrow01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .header .openmenubg .openmenusize .secondrow .justifyrow01 .exercises01 p {
  font-size: 1em;
}

@media only screen and (max-width: 414px) {
  body .header .openmenubg .openmenusize .secondrow .justifyrow01 .exercises01 p {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 414px) {
  body .header .openmenubg .openmenusize .secondrow .justifyrow01 .how01 {
    font-size: 0.8em;
  }
}

body .header .openmenubg .openmenusize h2 {
  color: white;
}
/*# sourceMappingURL=style.css.map */